In [1]:
import os
import pandas as pd

In [2]:
# init main df
main_df = pd.DataFrame()

# loop through all sub folders
for subdir, dirs, files in os.walk("D:\\Desktop\\bootcamp_oct2024\\github_hw\\databootcamp_module18"):
    for file in files:
        filepath = os.path.join(subdir, file)
        
        # check if CSV data file
        if (".csv" in filepath):
            # make sample df
            df = pd.read_csv(filepath, low_memory=False)
            df = df.sample(frac=0.02, random_state=42)
            main_df = pd.concat([main_df, df], axis=0)
            print(filepath)
    
main_df = main_df.reset_index(drop=True)

D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_1.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_2.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_3.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_4.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_5.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202410-citibike-tripdata_6.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202411-citibike-tripdata_1.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202411-citibike-tripdata_2.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202411-citibike-tripdata_3.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202411-citibike-tripdata_4.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202412-citibike-tripdata_1.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202412-citibike-tripdata_2.csv
D:\Desktop\bootcamp_oct2024\github_hw\databootcamp_module18\202412-citibike-tripdata_3.csv

In [3]:
main_df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [4]:
main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A5335A3BA7B82B33,electric_bike,2024-10-10 15:44:55.053,2024-10-10 15:51:23.058,McKibbin St & Bogart St,5059.02,Menahan St & Central Ave,4672.01,40.706237,-73.933871,40.695430,-73.919600,member
1,A6ED3FAEE24B41BE,electric_bike,2024-10-13 09:26:47.957,2024-10-13 09:36:27.909,Ralph Ave & Fulton St,4220.02,E 49 St & Church Ave,3300.04,40.679220,-73.921920,40.651820,-73.931350,casual
2,E3CE0FC6BA347A30,electric_bike,2024-10-08 21:18:55.972,2024-10-08 21:46:15.281,W 42 St & Dyer Ave,6644.07,Catherine St & Monroe St,5128.04,40.758985,-73.993800,40.711174,-73.996826,member
3,D5F0484C1BD1A1E6,classic_bike,2024-10-13 16:34:14.138,2024-10-13 16:37:12.931,31 St & Newtown Ave,6923.20,31 St & Hoyt Ave N,7018.01,40.767549,-73.920933,40.771153,-73.917007,member
4,1330C806FDC71300,electric_bike,2024-10-09 23:24:24.587,2024-10-09 23:26:55.666,Forsyth St & Broome St,5453.05,Norfolk St & Broome St,5374.01,40.718939,-73.992663,40.717227,-73.988021,member

In [5]:
main_df["started_at"] = pd.to_datetime(main_df.started_at)
main_df["ended_at"] = pd.to_datetime(main_df.ended_at)

main_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A5335A3BA7B82B33,electric_bike,2024-10-10 15:44:55.053,2024-10-10 15:51:23.058,McKibbin St & Bogart St,5059.02,Menahan St & Central Ave,4672.01,40.706237,-73.933871,40.695430,-73.919600,member
1,A6ED3FAEE24B41BE,electric_bike,2024-10-13 09:26:47.957,2024-10-13 09:36:27.909,Ralph Ave & Fulton St,4220.02,E 49 St & Church Ave,3300.04,40.679220,-73.921920,40.651820,-73.931350,casual
2,E3CE0FC6BA347A30,electric_bike,2024-10-08 21:18:55.972,2024-10-08 21:46:15.281,W 42 St & Dyer Ave,6644.07,Catherine St & Monroe St,5128.04,40.758985,-73.993800,40.711174,-73.996826,member
3,D5F0484C1BD1A1E6,classic_bike,2024-10-13 16:34:14.138,2024-10-13 16:37:12.931,31 St & Newtown Ave,6923.20,31 St & Hoyt Ave N,7018.01,40.767549,-73.920933,40.771153,-73.917007,member
4,1330C806FDC71300,electric_bike,2024-10-09 23:24:24.587,2024-10-09 23:26:55.666,Forsyth St & Broome St,5453.05,Norfolk St & Broome St,5374.01,40.718939,-73.992663,40.717227,-73.988021,member

In [6]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223427 entries, 0 to 223426
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             223427 non-null  object
 1   rideable_type       223427 non-null  object
 2   started_at          223427 non-null  datetime64[ns]
 3   ended_at            223427 non-null  datetime64[ns]
 4   start_station_name  223259 non-null  object
 5   start_station_id    223259 non-null  object
 6   end_station_name    222766 non-null  object
 7   end_station_id      222717 non-null  object
 8   start_lat           223427 non-null  float64
 9   start_lng           223427 non-null  float64
 10  end_lat             223399 non-null  float64
 11  end_lng             223399 non-null  float64
 12  member_casual       223427 non-null  object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 22.2+ MB

In [7]:
main_df.rideable_type.value_counts()

rideable_type
electric_bike    151887
classic_bike      71540
Name: count, dtype: int64

In [8]:
main_df.to_csv("2024_citibike_sample.csv", index=False)